.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.erc20_token h2 {
  color: #61dafb;
  padding: 5px 0px 20px 0px;
  border-bottom: 2px dotted #61dafb;
}

.erc20_token p {
  padding: 10px 10px;
  font-size: 18px;
  border-bottom: 2px dotted #61dafb;
}

.form-control {
  height: 50px !important;
  border: none !important;
  color: #282c34 !important;
  outline: none;
  font-size: 18px !important;
}

.form-control:focus {
  border: none !important;
  outline: none !important;
}

.form-label {
  text-align: left !important;
  font-size: 16px !important;
  font-weight: 500 !important;
}

.btn_submit {
  margin-top: 10px;
  margin-bottom: 50px !important;
  background-color: #fff !important;
  color: #282c34 !important;
  padding: 10px 50px !important;
  font-size: 16px;
  font-weight: bold !important;
}

.error-formik {
  color: #d64646;
  text-align: left !important;
  font-size: 15px;
  font-weight: 400;
  padding: 10px 0px;
}

.toastmessage {
  font-weight: 500;
  font-size: 22px;
  color: #d64646;
  padding: 10px 0px 0px 0px;
  width: 100%;
  text-align: center !important;
  cursor: pointer;
}

.toastmessage:hover {
  text-decoration: underline;
  color: #61dafb;
}

.toast {
  width: 100% !important;
  text-align: center !important;
  background-color: #282c34 !important;
  border: none !important;
  border-radius: none;
}
 
.outer_import_div {
  position: relative;
}

.outer_import_div .import-contract {
  margin-top: 10px;
  margin-bottom: 50px !important;
  background-color: #fff !important;
  color: #282c34 !important;
  padding: 10px 50px !important;
  font-size: 16px;
  font-weight: bold !important;
  position: absolute;
  right: 20px;
  top: 10px
}

.outer_import_div .import-contract:hover {
  background-color: #61dafb !important;
}

.outer_import_div .wallet-balance {
  margin-bottom: 50px !important;
  background-color: #282c34 !important;
  color: #61dafb !important;
  border: none;
  padding: 10px 50px !important;
  font-size: 22px;
  font-weight: bolder !important;
  position: absolute;
  left: 20px;
  top: 10px;
  text-align: left !important;
}

.outer_import_div .wallet-balance:disabled {
  background-color: #282c34;
  color: #61dafb !important;
}

.walletAddress_top {
  border-top: 2px dotted #61dafb;
  padding: 15px 15px !important;
  font-size: 18px !important;
}